.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: #e9e9e9;
  border-radius: 4px;
  padding: 5px;
  box-sizing: border-box;
  &:hover {
    background-color: #bebebe;
  }
  .icon {
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 32px;
      height: 32px;
    }
  }
  .main {
    min-width: 260px;
    padding-left: 20px;
    flex-grow: 1;
    .name {
      font-size: large;
    }
    .status {
      color: #999999;
    }
    .available {
      color: #696969;
    }
  }

  .info {
    padding: 10px;
  }
}
