<div class="wrapper">
  <div class="related-devices">
    <app-device-list-item [routerLink]="['/devices', device.id]" *ngFor="let device of related_devices" [device]='device'>
    </app-device-list-item>
  </div>
  <div class="device-details">
    <div class="title">{{ 'Details: ' + device.name }}</div>
    <div class="content">
      <div class="status">{{ 'Status: ' + device.status }}</div>
      <div class="temperature">{{ 'Temperature: ' + device.temperature }}</div>
      <div class="usage"><img src="assets/images/barchart.svg"></div>
    </div>
  </div>
</div>
